.btn-search {
  color: #011f31;
  border: 2px solid #011f31;
  border-radius: 20px;
  transition: all 0.075s ease-in;
}
.btn-search:hover {
  color: #011f31;
  border-color: #1e9682;
  background-color: #1e9682;
}

.scrolled .btn-search {
  color: #011f31;
  border-color: #1e9682;
  background-color: #1e9682;
}

.btn-tag {
  font-weight: 500;
  color: #fefffd;
  border-radius: 20px;
  padding: 0.275rem 0.65rem;
  background-color: #1e9682;
}
.btn-tag:hover {
  background-color: #A3DA8D;
  color: #011f31;
}

.btn-show-more {
  border-radius: 20px;
}

.btn-colored {
  font-weight: 500;
  color: #fff;
  padding: 0.275rem 0.65rem;
  background-color: #146356;
}
.btn-colored:hover {
  background-color: #A3DA8D;
  color: #011f31;
}

.btn-login {
  width: 100%;
}

.card.article {
  margin-bottom: 1.5rem;
}
.card.article .card-header {
  position: relative;
  padding: 0;
  aspect-ratio: 9/6;
}
.card.article .card-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card.article .card-body h3 {
  font-size: 1.55rem;
  font-weight: 600;
}
.card.article .card-body h3 a {
  text-decoration: none;
  color: #011f31;
}
.card.article .card-body p {
  margin-bottom: 0;
  color: #585858;
  width: 355px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.card.article .card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}
.card.article .card-footer .user {
  display: flex;
  align-items: center;
}
.card.article .card-footer .user .user-image {
  width: 35px;
  border-radius: 50%;
  border: 1px solid #011f31;
  margin-right: 5px;
}
.card.article .card-footer .user .user-name {
  font-weight: 600;
  color: #011f31;
}

.card.user-info .card-header {
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e9682;
}
.card.user-info .card-header .user-image {
  border-radius: 50%;
  width: 110px;
  border: 2px solid #A3DA8D;
}
.card.user-info .card-header .user-image img {
  width: 100%;
}
.card.user-info .card-body h4 {
  font-weight: 600;
  font-size: 1.3rem;
}
.card.user-info .card-body p {
  margin-bottom: 0.5rem;
  color: #585858;
}
.card.user-info .card-body ul {
  margin: 0;
  padding-top: 10px;
}
.card.user-info .card-body ul li {
  display: inline-block;
}
.card.user-info .card-body ul li:nth-child(2) {
  padding: 0 10px;
}
.card.user-info .card-body ul li a {
  color: #011f31;
  transition: all 0.25s ease-in;
}
.card.user-info .card-body ul li a:hover {
  color: #1e9682;
}
.card.user-info .card-body ul li a i {
  font-size: 25px;
}

.heading {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.7rem;
  position: relative;
}
.heading::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 4px;
  left: 0;
  bottom: -10px;
  background-color: #A3DA8D;
}
.heading::before {
  content: "";
  position: absolute;
  width: 115px;
  height: 4px;
  bottom: -18px;
  background-color: #1e9682;
}

.article-header .heading,
.tags-header .heading {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.7rem;
  position: relative;
}
.article-header .heading::after,
.tags-header .heading::after {
  width: 170px;
  height: 4px;
  left: calc(50% - 85px);
}
.article-header .heading::before,
.tags-header .heading::before {
  width: 120px;
  height: 4px;
  left: calc(50% - 60px);
}

.navbar {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-color: transparent;
  z-index: 1;
  transition: all 0.25s ease-in;
}
.navbar.scrolled {
  background-color: #011f31;
  box-shadow: 0px 3px 7px 2px rgba(25, 135, 84, 0.22);
}
.navbar .navbar-brand {
  color: #011f31;
}
.navbar .navbar-nav .nav-item .nav-link {
  color: rgba(1, 31, 49, 0.9);
  font-weight: 500;
}
.navbar .navbar-nav .dropdown .dropdown-menu {
  background-color: #011f31;
  border: 1px solid #011f31;
}
.navbar .navbar-nav .dropdown .dropdown-menu .dropdown-item {
  color: #1e9682;
  background-color: transparent;
  border: 0;
  transition: all 0.26s ease-in;
}
.navbar .navbar-nav .dropdown .dropdown-menu .dropdown-item:hover {
  color: #011f31;
  background-color: #A3DA8D;
}
.navbar .navbar-nav .dropdown .dropdown-menu .dropdown-divider {
  border-top: 1px solid rgba(30, 150, 130, 0.58);
}
.navbar.scrolled {
  background-color: #011f31;
}
.navbar.scrolled .navbar-brand {
  color: #1e9682;
}
.navbar.scrolled .navbar-nav .nav-link {
  color: #1e9682;
}

.header {
  height: 100vh;
  width: 100%;
  background: linear-gradient(347deg, rgba(20, 99, 86, 0.61), rgba(163, 218, 141, 0.66)), url("../../../images/bg.jpg") center center no-repeat;
  background-size: cover;
}

.footer {
  padding: 1.5rem 0;
  background-color: #011f31;
}
.footer .copyright p {
  color: #1e9682;
}
.footer .copyright p a {
  font-weight: bold;
  color: #A3DA8D;
}
.footer .footer-links ul li {
  display: inline-block;
}
.footer .footer-links ul li:nth-of-type(2) {
  padding: 0 10px;
}
.footer .footer-links ul li a {
  color: #1e9682;
  font-size: 22px;
}

.popular-tags {
  padding: 30px 0;
  background-color: #011f31;
}

.section {
  padding: 50px 0;
}
.section .section-header {
  padding-bottom: 25px;
  margin-bottom: 20px;
}

.login-section {
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, rgba(25, 135, 84, 0.3), rgba(25, 135, 84, 0.3)), url("../images/loginBG.jpg") no-repeat center center;
  background-size: cover;
}
.login-section .login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-section .login-container .login-content {
  background-color: #dee2e6;
  width: 575px;
}
.login-section .login-container .login-content .login-header {
  height: 150px;
  background-color: #146356;
  padding: 1rem;
  color: #A3DA8D;
}
.login-section .login-container .login-content .login-header h1 {
  font-weight: 700;
  text-transform: uppercase;
}
.login-section .login-container .login-content .login-header p {
  font-size: 17px;
  line-height: 1.6;
}
.login-section .login-container .login-content .login-form {
  padding: 1.7rem 1.7rem;
}
.login-section .login-container .login-content .login-form form input {
  background-color: transparent;
  border: 1px solid #adb7b2;
  padding: 0.45rem 0.75rem;
}
.login-section .login-container .login-content .login-form form input:focus {
  color: #212529;
  background-color: transparent;
  border-color: #146356;
  outline: 0;
  box-shadow: none;
}

.article-details-section {
  padding-top: 6rem;
  padding-bottom: 1rem;
}
.article-details-section .article-header .details p {
  color: #585858;
}
.article-details-section .article-header .details p a {
  color: #1e9682;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 600;
}
.article-details-section .article-body .description {
  color: #585858;
  margin-bottom: 0;
  line-height: 1.67;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.article-details-section .article-tags ul li {
  display: inline-block;
  padding: 0 5px;
}
.article-details-section .comments {
  padding: 2rem;
  background-color: #f8f9fa;
}
.article-details-section .comments .section-header h5 .badge {
  padding: 0.25em 0.35em;
  font-size: 0.55em;
  font-weight: 600;
  margin-bottom: 10px;
}
.article-details-section .comments .section-header h5 .translate-middle {
  transform: translate(-30%, -66%) !important;
}
.article-details-section .comments .all-comments {
  margin-bottom: 2rem;
}
.article-details-section .comments .all-comments .comment {
  border-bottom: 1px solid rgba(88, 88, 88, 0.37);
}
.article-details-section .comments .all-comments .comment .user {
  display: flex;
  align-items: center;
}
.article-details-section .comments .all-comments .comment .user .user-image {
  width: 35px;
  border-radius: 50%;
  border: 1px solid #011f31;
  margin-right: 10px;
}
.article-details-section .comments .all-comments .comment .user .user-name h5 {
  font-weight: 500;
}
.article-details-section .comments .all-comments .comment .user .user-name h5 span {
  color: #585858;
  font-size: 14px;
  font-weight: 400;
}
.article-details-section .comments .all-comments .comment .comment-desc p {
  color: #585858;
  padding-left: 2.65rem;
}
.article-details-section .comments .comments-form form input {
  padding: 0.475rem 0.75rem;
}
.article-details-section .comments .comments-form form textarea {
  min-height: 80px;
  max-height: 100px;
}

.popular-articles .card.article .card-body p {
  width: 300px;
}

.tags-section {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.tags-section .tags ul li {
  display: inline-block;
}
.tags-section .tags ul li:nth-child(even) {
  margin: 0 10px;
}

/*# sourceMappingURL=main.css.map */
