// Login page
.sign-section {
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, rgb(25 135 84 / 30%), rgb(25 135 84 / 30%)), 
    url("../images/loginBG.jpg") no-repeat center center;
    background-size: cover;
    // Login container
    .sign-container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        // Login content
        .sign-content {
            background-color: #dee2e6;
            width: 575px;
            // Login header
            .sign-header{
                height: 150px;
                background-color: $green-color;
                padding: 1rem;
                color: $mint-green;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                h1 {
                    font-weight: 700;
                    text-transform: uppercase;
                }
                p {
                    font-size: 17px;
                    line-height: 1.6;
                }
            }
            // Login form
            .sign-form {
                padding: 1.7rem 1.7rem;
                form {
                    input {
                        background-color: transparent;
                        border: 1px solid #adb7b2;
                        padding: .45rem .75rem;
                        &:focus {
                            color: #212529;
                            background-color: transparent;
                            border-color: $green-color;
                            outline: 0;
                            box-shadow: none;
                        }
                    }
                }
            }
        }

    }
    
}
// End of Login page
